doctype html
html(lang="en")
  meta(charset="UTF-8")
  title #{title}
  include ./default_css.jade
  include ./default_js.jade
  body(class="container")
    block header
    block content
    block scripts
    block footer